{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
<h1>Fund Contribution Page</h1>
{% endblock %}

{% block content %}
<div class="table-responsive">		
	<table class="table table-hover table-bordered">
		<thead class="thead-default">
			<tr>
				<td>Members</td>
				<td>Contribution Date</td>
				<td>Amount</td>	
			</tr>
		</thead>
		{% for item in obj_list %}
			<tr>
				<td>{{ item.contrib_user.last_name }} {{ item.contrib_user.first_name }}</td>
				<td>{{ item.contrib_date|date:"M d, Y" }}</td>
				<td>${{ item.contrib_amount }}</td>	
			</tr>
		{% endfor %}
	</table>
</div>

<hr>
<p>Total Funds Collected: ${{ total.total }}</p>
<p>Total Funds Used: ${{ used.used }}</p>
<p>Total Funds Left: ${{ balance }}</p>
<hr>
<BR /><BR />
{{ obj_list.as_table }}
<div class="pagination">
	<span class="step-links">
		{% if obj_list.has_previous %}
			<a href="?page={{ obj_list.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
		</span>
		{% if obj_list.has_next %}
			<a href="?page={{ obj_list.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}